<div ng-controller="LoginCtrl">

	<form class="form-signin">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong> Sign in to continue</strong>
			</div>
			<div class="panel-body">
				<form method="POST" action="#" role="form">
					<fieldset>
						<div class="row">
							<div class="center-block">
								<img alt="" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" class="profile-img">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-10  col-md-offset-1 ">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span> 
										<input type="text" autofocus name="loginname" placeholder="Username" class="form-control" ng-model="loginDtls.identity" required>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-lock"></i>
										</span>
										<input type="password" value="" name="password" placeholder="Password" class="form-control" ng-model="loginDtls.credential" required>
									</div>
								</div>

								<div class="form-group">
							        <div class="checkbox">
							          <label>
							            <input type="checkbox" value="remember-me"> Remember me
							          </label>
							        </div>
								</div>
								
								<div class="form-group">
									<input type="submit" value="Sign in" class="btn btn-lg btn-primary btn-block" ng-click="doLogin()">
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="panel-footer ">
				Don't have an account! <a href="register">Sign Up Here</a>
			</div>
			<div class="panel-footer ">
				Forgot password? <a href="forgotPwd">Reset here</a>
			</div>
        </div>
	</form>
</div>


<!--
             <h2 class="form-signin-heading">Please sign in</h2>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ng-model="loginDtls.identity">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="loginDtls.credential">

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="doLogin()">Sign in</button>
     
      
	<form class="form-horizontal">
	    <h1 class="page-header">Sign In</h1>
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="identity">Email</label>
                <div class="controls">
                    <input id="identity" type="text" class="input-block-level"
                           required="true" ng-model="loginDtls.identity"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="credential">Password</label>
                <div class="controls">
                    <input id="credential" type="password" class="input-block-level" 
                           ng-model="loginDtls.credential" required="true"></input>
                </div>
            </div>
        </fieldset> 
        <button class="btn btn-primary" ng-click="doLogin()">Login</button>
	</form>
	 -->