<div ng-controller="ProfileCtrl">
    <h1 class="page-header">Profile</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th width="25px">#ID</th>
                <th>Title</th>
                <th>Artist</th>
                <th width="50px"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in users">
                <td><a href="#/profile/{{e.id}}">{{e.id}}</a></td>
                <td>{{e.email}}</td>
                <td>{{u.password}}</td>
                <td>
                	<a ng-click="editProfile($index)" >
                		<i class="icon-pencil"></i>
                    </a>
                    &nbsp;
                    <a ng-click="delProfile($index)" >
                    	<i class="icon-remove-circle"></i>
                    </a>
				</td>
            </tr>
        </tbody>
    </table>
    
</div>