<div ng-controller="RegisterCtrl">
	<form class="form-signin">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Register</strong>
			</div>
			<div class="panel-body">
				<form method="POST" action="#" role="form">
					<fieldset>
						<div class="row">
							<div class="center-block">
								<img alt="" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" class="profile-img">
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-10  col-md-offset-1 ">
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span> 
										<input type="text" autofocus name="loginname" placeholder="Username" class="form-control" ng-model="registerDtls.identity" required>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-lock"></i>
										</span>
										<input type="password" value="" name="password" placeholder="Password" class="form-control" ng-model="registerDtls.credential" required>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-lock"></i>
										</span>
										<input type="password" value="" name="password" placeholder="Re-enter Password" class="form-control" ng-model="registerDtls.credentialVerify" required>
									</div>
								</div>
								<div class="form-group">
									<input type="submit" value="Sign in" class="btn btn-lg btn-primary btn-block" ng-click="doRegister()">
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="panel-footer ">
				Registered? <a href="login">Login Here</a>
			</div>
        </div>
	</form>
</div>
<!-- 	<form name="register" class="form-horizontal">
	    <h1 class="page-header">Register</h1>
        <fieldset>    
            <div class="control-group">
                <label class="control-label" for="identity">Email</label>
                <div class="controls">
                    <input id="identity" type="email" class="input-block-level"
                           ng-model="registerDtls.identity" required="true" placeholder="Enter Email"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="credential">Password</label>
                <div class="controls">
                    <input id="credential" type="password" class="input-block-level" 
                           ng-model="registerDtls.credential" required="true" placeholder="Enter Password"></input>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="credential">Confirm Password</label>
                <div class="controls">
                    <input id="credential" type="password" class="input-block-level" 
                           ng-model="registerDtls.credentialVerify" required="true" placeholder="Re-enter Password"></input>
                </div>
            </div>
        </fieldset>
        
        <button class="btn btn-primary" ng-click="doRegister()">Register</button>
	</form>
	
	Registered? <a href="#/login">Login!</a>
-->
